extends layout

block content
  body(class='users')
    header(class='header')
      h1 Users page
      h2 Hello #{thisUser}
      button(id='refreshBtn' class='button') Refresh
      button(id='logOut' class='button') Log Out
    .allusers
      for user in users 
        .user
          ul(class="list-group")
            li(class="list-group-item") Name: #{user.firstname} #{user.lastname}
            li(class="list-group-item") Username: #{user.username}
            li(class="list-group-item") 
              a(href='mailto:#{user.email}') Email #{user.firstname}
          
